body{
    background-color: darkslategrey;
    text-align: center;
    font-size: 130%;
    color: ivory;
}
p{
    text-align: center;
    font-size: 130%;
    color: ivory;
}
h1{
    color: darkgoldenrod;
    text-align: center;
    font-size: 220%;
}
h2{text-align: center;

}